@model IndexViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center"  style="background:@Model.Color">
    <h1 class="display-4">Welcome in pod #@Model.Hostname</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
